.figmaprompt{
    border-radius: 40px;
    margin-left: 21px;
    margin-top:430px;
    height: 400px;
    position: absolute;
}

.figmaflow{
    border-radius: 40px;
    margin-left: 600px;
    margin-top: 430px;
    position: absolute;
    height: 400px;
}
body{
    background-color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    padding-bottom: 540px;
}

/* Styling navbar */
.header {
    position: absolute; /*The nav bar will only stay at the top.*/
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it's above content */
  }
  
  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    max-width: 1200px;
    padding: 40px 30px;
    margin: 0 auto;
  }
  
  /* ===== NAVIGATION ===== */
  .nav__list {
    display: flex;
    column-gap: 55px;
  
  }
  
  .nav__link {
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding-left: 60px;
    position: relative;
  }
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    font-family: 'Times New Roman', Times, serif;
    transition: color 0.3s ease;
  }
  
  /*Applies to the text changing color when hovered.*/
  a:hover {
    color: rgb(238, 92, 199);
  }

.introfigma{
    position: absolute;
    margin-top: 120px;
    margin-left: 21px;
    font-size: 23px;
    color: rgb(238, 92, 199);
    text-shadow: #ebe5e5 1px 0 10px;
}

.figmajam{
    position: absolute;
    margin-top: 260px;
    margin-left: 21px;
    font-size: 25px;
    font-style:italic;
 
}

.figmajamtext{
    position: absolute;
    margin-top: 320px;
    margin-left: 21px;
    font-size: 21px;
}
.rewrite{
    position: absolute;
    margin-top: 900px;
    margin-left: 21px;
    font-size: 23px;
    font-style: italic;
}

.rewritetext{
    position: absolute;
    margin-top: 940px;
    margin-left:21px;
    font-size: 21px;
    color: rgb(238, 92, 199);
}

.remember{
    position: absolute;
    margin-top: 1000px;
    margin-left:45%;
    font-size: 23px;
    font-style: italic;
}

.remembertext{
    position: absolute;
    margin-top: 1050px;
    margin-left:35%;
    font-size: 23px;
    color: rgb(238, 92, 199);
}